# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore this folder
Fwd_ SS LIMPE REACTOR VESSEL/